.logo {
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	height: 100px
}

.login {
	background-image: url(../images/cameraBackground.jpg);
	background-size: 1300px 1000px;
	background-repeat:no-repeat;
    background-position:fixed; 
	display: compact;
}

.title-text {
	color:#ffffff;
	font-family: 'Josefin Sans', sans-serif;
}

.subtitle-text {
	color:#ffffff;
	font-family: 'Josefin Sans', sans-serif;
}