.logo {
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	height: 100px
}

.login {
	background: red; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom right, #7ADBD3, #87DBD8); /* Standard syntax */
}

.title-text {
	color:#ffffff;
	font-family: 'Josefin Sans', sans-serif;
}

.subtitle-text {
	color:#ffffff;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

.page-title-text {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}

#searchResultsContainer {

    display: flex;

    justify-content: center;
    flex-wrap: wrap;

    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;

    margin: 0 auto;
    background-color: transparent;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    overflow: auto;
}