<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="height: 100%">
<div style="margin: auto; width: 60%; text-align: center; margin-top: 35px; width: 50% ; height: 80px">
    	<form>
    		<div class="input-group">
  				<span class="input-group-addon glyphicon glyphicon-search" id="searchInput" aria-hidden="true"></span>
  				<input type="text" class="form-control" placeholder="Search" aria-describedby="searchInput">
			</div>
  			<div class="checkbox">
    		<label class="radio-inline">
  				<input type="radio" name="searchOptions" id="searchRadio1" value="title"> Title
			</label>
			<label class="radio-inline">
  				<input type="radio" name="searchOptions" id="searchRadio2" value="actor"> Actor
			</label>
			<label class="radio-inline">
  				<input type="radio" name="searchOptions" id="searchRadio3" value="director"> Director
			</label>
			<label class="radio-inline">
  				<input type="radio" name="searchOptions" id="searchRadio3" value="genre"> Genre
			</label>
			<label class="radio-inline">
  				<input type="radio" name="searchOptions" id="searchRadio3" value="production"> Production
			</label>
  		</div>
  		</form>
</div>
<div id="searchResultsContainer">
	<div class="movieTile {{tile.id}}" id="{{tile.id}}" ng-repeat="tile in filmSearch.tiles" ng-click="filmSearch.animateState(tile.state, tile.id, 'tileOut', 600); filmSearch.hideTiles(tile.id);">
		<div class="movieTileIcon">
		</div>
		<div class="movieTileText">
			<p>{{tile.name}}</p>
		</div>
	</div>
</div>
</div>
</body>
</html>