<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" style="height: 100%">
<div style="margin: auto; width: 60%; text-align: center; margin-top: 70px; width: 50% ; height: 80px">

</div>
<div id="searchResultsContainer">
	<div class="friendRow" ng-repeat="friends in friends.friendList">



		<div class="profileIcon"><img src="{{friends.profilePicture}}" class="profileIcon" ng-click="mainMenu.animateState('userProfile', 'toolbarContainer', 'hideTile', 0);"
		alt="{{friends.name}}"></div>




		<div class="friendHighlight">
		<div class="friendText"><span>{{friends.name}}</span></div>
		</div>
	</div>
</div>
</div>
</body>
</html>