<div id="toolbarContainer">
    <div id="toolbarIcon"
         ng-click="mainMenu.animateState('mainMenu', 'routingContainer', 'routingAnimationOut', 300)"><i
            class="fa fa-arrow-left [&#xf05c;]"></i></div>
    <div id="toolbarText">
        <div class="profileIcon"><img src="{{mainMenu.profile.profilePicture}}" class="profileIcon" ng-click="mainMenu.animateState('userProfile', 'toolbarContainer', 'hideTile', 0);"
                                      alt="{{profile.name}}"></div>

    </div>
    <div class="filmHackTitle">
    <span class="filmHackTitleContainer">Hello {{mainMenu.profile.name}}, Welcome to filmein</span>
    </div>
</div>

<!--<i class="fa fa-user"></i>-->